<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Care For All</h1>
                <br />
                <h1 style="font-style:italic">Makes sure people you love are in contact with you all the time.</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>To get you started, consider the following steps</h3>
        <ol class="round">
            <li class="one">
                <h5>Click "Get Me Started"</h5>
                It will show a list of Institutions to choose from.
            </li>

            <li class="two">
                <h5>Choose your stay to see infos and contacts</h5>
                This will show detailed information about the institution & people's opinions about it.             
            </li>
            <li class="three">
                <h5>Contact and Talk</h5>
                Once you're ready, contact them for more details & real-time care system.
            </li>
        </ol>

        <a class="GetMeStartedButton" 
            style="position:fixed; top: 190px; right: 10%;"
            href="Home/GetMeStarted">Get Me Started</a>

    </section>
</div>
